@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
  *{
    @apply p-0 m-0;
    -webkit-tap-highlight-color: transparent;
  }
  
  
  .navv{
    background: rgba(15,23,42,0.90);
-webkit-backdrop-filter: blur(17px);
backdrop-filter: blur(17px);
border: 1px solid rgba(255,255,255,0.125);
  }
  .asse{
    background: rgba(0,0,0,0.85);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    
  }
  .fonte{
    font-family:Sevillana;
  }


}