@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Sevillana&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
  .grape-nuts-regular {
    font-family: "Grape Nuts", cursive;
    font-weight: 400;
    font-style: normal;
  }

  *{
    @apply p-0 m-0;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior:"smooth";
  }
  .light{
    --navbg:20, 33, 61;
    --background:#e5e5e5;
    --secBackground:#14213d;
    --cards:#fca311;
    --cardsFrom:#e5e5e5;
    --cardsText:#ffffff;
    --cardsText2:#14213d;
    --textBlack:#212121;
    --movingtext:#14213d;
    --borderMove:rgb(148, 163, 184)
  }
  .dark{
    --navbg:95, 82, 160;
    --background:#ffffff;
    --secBackground:#5f52a0;
    --cards:#88869e;
    --cardsFrom:#ffffff;
    --cardsText:#ffffff;
    --cardsText2:#000000;
    --textBlack:#000000;
    --movingtext:#88869e;
    --borderMove:rgb(0, 0, 0)
  }
  .brown{
    --navbg:57, 61, 36;
    --background:#faf7ef;
    --secBackground:#393d24;
    --cards:#eee9f2;
    --cardsFrom:#faf7ef;
    --cardsText:#ffffff;
    --cardsText2:#393d24;
    --textBlack:#000000;
    --movingtext:#393d24;
    --borderMove:rgb(0, 0, 0)
  }
  .blue{
    --navbg:255, 151, 112;
    --background:#ff70a6;
    --secBackground:#ff9770;
    --cards:#ffd670;
    --cardsFrom:#ffffff;
    --cardsText:#f5f5f5;
    --cardsText2:#ffffff;
    --textBlack:#f5f5f5;
    --movingtext:#ffd670;
    --borderMove:#ff9770;
  }
  .classic{
    --navbg:132, 117, 119;
    --background:#e5e6e4;
    --secBackground:#a6a2a2;
    --cards:#847577;
    --cardsFrom:#fbfbf2;
    --cardsText:#fbfbf2;
    --cardsText2:#fbfbf2;
    --textBlack:#847577;
    --movingtext:#a6a2a2;
    --borderMove:#847577;
  }
  .theDark{
    --navbg:13, 27, 42;
    --background:#1b263b;
    --secBackground:#0d1b2a;
    --cards:#0d1b2a;
    --cardsFrom:#415a77;
    --cardsText:#fbfbf2;
    --cardsText2:#fbfbf2;
    --textBlack:#e0e1dd;
    --movingtext:#0d1b2a;
    --borderMove:#e0e1dd;
  }
  
  
  ::-webkit-scrollbar {
    width: 6px;
    height:8px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #aaaaaa; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #212121; /* Set the color of the scrollbar track */
  }

  @media (max-width: 767px) {
    ::-webkit-scrollbar {
      width: 0px;
      height:0px; /* Set the width of the scrollbar */
    }
  }
  .navv{
-webkit-backdrop-filter: blur(17px);
backdrop-filter: blur(17px);
border: 1px solid rgba(255,255,255,0.125);
  }
  .asse{
    background: rgba(0,0,0,0.85);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    
  }
  .fonte{
    font-family:Sevillana;
  }
  .roboto{
    font-family:sans-serif;
  }
 .imgs{
  object-position: bottom center;
 }
 .post{
  font-family:Bilbo Swash Caps;
 }
 .loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}
.social{
 box-shadow: inset 16px 16px 32px #f5f5f5, inset -16px -16px 32px #f5f5f5;
}
.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}


}